.header {
  width: 100%;
  height: 8rem;
  padding: 2.4rem 8rem;
  background-color: #79b791;
  color: #edf4ed;
  font-weight: bold;
}

.nav-a:link,
.nav-a:visited {
  color: #edf4ed;
}

.header-nav {
  justify-content: space-between;
}

.nav-a:hover {
  color: #c9e4c9;
}

/* ---HAMBURGER--- */
.hamburger {
  display: none;
  height: 3rem;
  width: 3rem;
}

.hamburger-close {
  height: 3rem;
  width: 3rem;
  z-index: 999;
}

.nav-menu-responsive {
  display: flex;
  flex-direction: column;
}

.dimmed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(171, 209, 181, 0.4);
  z-index: 900;
}
