.header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 8rem;
  padding: 2.4rem 8rem;
  background-color: #79b791;
  color: #edf4ed;
  font-weight: bold;
}

.nav-a:link,
.nav-a:visited {
  color: #edf4ed;
}

.header-nav {
  justify-content: space-between;
}

.nav-a:hover {
  color: #c9e4c9;
}

/* ---HAMBURGER--- */
.hamburger {
  display: none;
  height: 3rem;
  width: 3rem;
}

.hamburger-close {
  height: 3rem;
  width: 3rem;
  z-index: 999;
}

.nav-menu-responsive {
  display: flex;
  flex-direction: column;
}

.dimmed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(171, 209, 181, 0.8);
  z-index: 900;
}

/* --- LANDING PAGE --- */
.landing-page-container {
  background-color: #dbe6de;
  border-radius: 25px;
  margin: 4.8rem 8rem;
  padding: 4.8rem 8rem;
}

.landing-page-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.img-wrapper {
  justify-self: end;
}

.landing-page-img {
  height: 54rem;
  width: 44rem;
  border-radius: 25px;
  justify-self: end;
}

.img-shadow {
  display: none;
}

.hero-section {
  height: 100vh;
  background-image: url("../img/Oak\ Marcant\ 5�\ White\ Woca222.jpeg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.main-heading-hero {
  font-family: "DM Serif Text";
  font-weight: normal;
}

.heading-hero {
  color: #edf4ed;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.hero-text {
  margin-top: 12.8rem;
  margin-left: 8rem;
  max-width: 800px;
}

/* --- CONTENT --- */
.page-title {
  margin-bottom: 4.8rem;
}

.contact-card {
  max-width: 70%;
  margin: 0 auto;
  padding: 4.8rem;
  border-radius: 25px;
  background-color: #c9e4c9;
}

.contact-card-content {
  justify-content: flex-start;
}

.generic-profile-picture {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}

/* --- FOOTER --- */
.footer {
  width: 100%;
  background-color: #79b791;
  color: #edf4ed;
  font-weight: 500;
  padding: 8rem;
}

.footer-a {
  color: #edf4ed;
}

.footer-a:hover {
  color: #c9e4c9;
}

.heading-footer {
  font-size: 2.4rem;
}

.icon {
  font-size: 4rem;
  color: #edf4ed;
}

.icon:hover {
  cursor: pointer;
  color: #c9e4c9;
}
