* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  font-size: 1.6rem;
  background-color: #edf4ed;
  color: #301014;
}

/* ---FLEX--- */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-gap-tiny {
  gap: 1.6rem;
}

.flex-gap-sm {
  gap: 3.2rem;
}

.flex-gap-md {
  gap: 4.8rem;
}

.flex-gap-lg {
  gap: 9.6rem;
}

.flex-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-start {
  justify-content: flex-start;
  align-content: flex-start;
}

/* ---GRID--- */
.grid {
  display: grid;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* ---MARGINS--- */
.margin-bottom-sm {
  margin-bottom: 1.6rem;
}

.margin-bottom-xsm {
  margin-bottom: 3.2rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem;
}
.margin-bottom-lg {
  margin-bottom: 6.4rem;
}

.margin-left-sm {
  margin-left: 1.6rem;
}

.margin-left-xsm {
  margin-left: 3.2rem;
}

.margin-left-lm {
  margin-left: 4.2rem;
}

.margin-top-md {
  margin-top: 2.5rem;
}
.margin-top-slg {
  margin-top: 8rem;
}
.margin-top-lg {
  margin-top: 16rem;
}

a,
a:link,
a:visited {
  color: #301014;
  text-decoration: none;
}
